@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Secular+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Estilo básico do header */
header {
    background-color: #2bb469;
    padding: 10px;
  }
  
  /* Estilo do menu */
  .menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content:space-around;
  }
  .menu li {
    display: inline-block;
  }
  
  .menu li a {
    font-size: 25px;
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
  }
  
  /* Estilo responsivo */
  @media screen and (max-width: 600px) {
    .menu {
      flex-direction: column;
      align-items: center;
    }
  
    .menu li {
      margin-bottom: 10px;
    }
  }


  /* Estilo básico do footer */
/* Estilo básico do footer */
footer {
    background-color: #333;
    padding: 20px 0;
    color: #fff;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
  }
  
  .container p {
    margin-bottom: 10px;
  }
  
  .container ul {
    list-style-type: none;
    padding: 0;
  }
  
  .container ul li {
    display: inline-block;
    margin: 0 10px;
  }
  
  .container ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .container ul li a:hover {
    text-decoration: underline;
  }
  

  .article {
    max-width: 1000px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f1f1f1;
    margin-bottom: 20px;
  }
  
  .article h2 {
    text-align: center;
  }
  
  .article p {
    text-align: justify;
  }
  
  @media screen and (max-width: 600px) {
    .article {
      padding: 10px;
    }
  }
  