@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Secular+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  header {
    text-align: center;
    background-color: #0f9b6c;
    padding: 20px;
    width: 100%;
    justify-content: center;
    color: white;
    font-family: 'Poppins', sans-serif;
  }

.link-div {
    width: 200px;
    height: 100px;
    background-color: #0f9b6c;
    margin: 10px;
    padding: 10px;
    display: inline-block;
    justify-content: center;
  }

  .link-div a {
    text-decoration: none;
    color: #333;
    text-align: center;
    justify-content: center;
    color: white;
  }
  li{
    list-style: none;
    text-align: center;
    margin-top: 25px;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
  }